<div class="container">
    <div>
    <h2>Ajouter un Maquillage :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID Maquillage</label>
        <input type="text" [(ngModel)]="newMaquillage.idMaquillage"
        name="idMaquillage" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Maquillage</label>
        <input type="text"[(ngModel)]= "newMaquillage.nomMaquillage"
        name="nomMaquillage" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Prix Maquillage</label>
        <input type="number" [(ngModel)]= "newMaquillage.prixMaquillage"
        name="prixMaquillage" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [(ngModel)]= "newMaquillage.dateCreation"
        name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Brand</label>
            <select class="form-control form-control-lg" id="idbrand" name="idbrand"
            [(ngModel)]="newIdBrand">
             <option *ngFor="let brand of brands" [value]="brand.idbrand" >
             {{brand.nombrand}}
            </option>
            </select>
            </div>
        <div class="mt-2">
        <button type="submit" (click)="addMaquillage()" class="btn btn-success">Ajouter</button>
    
    </div>
        </form>
        </div>
            
